/* cuerpo de texto */
@font-face {
  font-family: "gotham-rounded";
  src: url("../fonts/GothamRounded-Book.otf");
}

/* titulos */
@font-face {
  font-family: "gotham-rounded-bold";
  src: url("../fonts/GothamRounded-Bold.otf");
}

/* Carrousel - footer */
@font-face {
  font-family: "gotham-rounded-light";
  src: url("../fonts/GothamRounded-Light.otf");
}

body {
  font-family: "gotham-rounded-light";
}

h1,
h2,
h3,
h4,
h5 {
  color: #44094c;
}

/*navbar*/
nav {
  background-color: #46f9a5;
  color: #44094c;
}

.navbar-nav .nav-link {
  color: #44094c;
}

.btn-secondary {
  background-color: grey;
  color: #46f9a5;
}

.searchbar {
  margin-bottom: auto;
  margin-top: auto;
  height: 40px;

  background-color: white;
  border-radius: 30px;
  padding: 10px;
  margin-right: 98px;
  position: relative;
}

.search_input {
  color: grey;
  border: 0;
  outline: 0;
  background: none;
  width: 70px;
  caret-color: transparent;
  transition: width 0.4s linear;
  margin-left: 10px;
  margin-bottom: auto;
}

.searchbar > .search_input {
  width: 290px;
  caret-color: red;
  transition: width 0.1s linear;
}

.search_icon {
  height: 20px;
  width: 20px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: grey;
  position: absolute;
  right: 5px;
  padding: 5px;
  margin-top: -4px;
  box-sizing: content-box;
}

.search_icon:hover {
  background-color: #46f9a5;
  color: #44094c;
  text-decoration: none;

  transition: width 0.4s linear;
}

.logo {
  margin-left: 50px;
}

dropdown-focus:hover,
.dropdown-item:hover {
  font-family: "gotham-rounded-bold";
}

#dropdown-focus:focus {
  box-shadow: none;
}

/*ASIDE*/
.aside {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 60px;
  width: 100%;
}

#cardTitle {
  background-color: #44094c;
  color: #46f9a5;
}

/* FOOTER */

.icon {
  text-decoration: none;
  color: #46f9a5;
  transition: color 0.7s ease 0.2s;
  font-size: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.icon:hover {
  color: rgb(255, 255, 255);
}

footer {
  width: 100% !important;
  padding: 1em;
  background-color: #44094c;
  color: #46f9a5;
}

#footerFlex {
  justify-content: space-between;
}

#footerFlex span {
  padding-top: 15px;
}

#socialNetworks {
  justify-content: flex-end;
}

#socialNetworks > i {
  padding: 10px;
  font-size: 25px;
  color: aqua;
}

footer {
  width: 100% !important;
  padding: 1em;
  background-color: #44094c;
  color: #46f9a5;
}

#contacto {
  padding-top: 20px;
}

#contacto a {
  text-decoration: none;
  color: #46f9a5;
}

#contacto a:hover {
  color: rgb(255, 255, 255);
}

/*social icons*/
.icon {
  text-decoration: none;
  color: #46f9a5;
  transition: color 0.3s ease 0.2s;
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.icon:hover {
  color: rgb(255, 255, 255);
}
