

body{
    background-color:  rgb(250, 250, 250);
}
.contacto{
    border: 1px solid #CED5D7;
    border-radius: 6px;
    padding: 45px 45px 20px;
    margin-top: 50px;
    background-color:white;
    /*box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;*/
}
.contacto input{
    background-color: #46f9a5;
    padding: 10px 30px;
    /*border: solid 1px black;*/
    margin: 15px;
    border-radius: 10px;
    color: black;
   /* box-shadow: 0 0 15px 0 maroon;*/
}
.contacto textarea{
height:100px ;
width: 540px;
    border-radius: 10px;
   /* border: solid 1px black;*/
    margin-left: 2%;
    margin:15px;
    background-color: #46f9a5;
   /* box-shadow: 0 0 15px 0 green;*/


}
.email{
    width:540px ;
}
.boton{
   /* border:solid 1px white;*/
    margin-left: 10%;
    background: white; 
    padding: 10px;
     color:black;
}
.boton:hover{
background-color:gray;
color: white;


}