.imagen {
    border-radius: 15px;
height: 200px;
}
    
    
    
    .contenedor:hover .imagen {
        -webkit-transform:scale(0.1);
        transform:scale(1.1);
    
    }
    .contenedor {
        overflow:hidden;
        
        border-radius: 15px 15px 15px 15px;
    }
a{
    text-decoration: none;
    color: black;  
    text-align:center;
}