



    /* CARROUSEL */
    
    main{
      margin-left: 75px;
      margin-top: 80px;
      width: 750px;
      display: grid;

    }
    .carousel .notas{
      width: 750px;
      margin-left: 75px;
      margin-top: 80px;
    }

    .car-img{
      border-radius: 7px;


    }
   
    .imgnotas{
      border-radius: 7px;
    }
    
      
      

    