/*CARROUSEL!*/
/*.bd-example{
    box-shadow: #999 5px 5px 5px;
}*/

.carousel-caption {
  text-shadow: rgb(0, 0, 0) 2px 2px 2px;
  font-size: 2em;
}

@font-face {
  font-family: "Gotham-light";
  src: url("../fonts/GothamRounded-Light.otf");
}
@font-face {
  font-family: "Gotham-bold";
  src: url("../fonts/GothamRounded-Bold.otf");
}
@font-face {
  font-family: "Gotham-italic";
  src: url("../fonts/GothamRounded-LightItalic.otf");
}

/* BODY AND RELATIVES*/

header {
  font-family: "Gotham-bold";
  font-size: 3em;
}
#date {
  text-align: right;
}

body {
  font-family: "Gotham-light";
  font-size: 15px;
}
.img-fluid {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-right: 15px;
}

.cuadro-h {
  /*background-color: rgb(116, 202, 116);*/
  background: -webkit-linear-gradient(
    left,
    rgb(0, 128, 11),
    rgb(255, 255, 255)
  );
  background: -o-linear-gradient(left, rgb(0, 128, 11), rgb(255, 255, 255));
  background: -ms-linear-gradient(left, rgb(0, 128, 11), rgb(255, 255, 255));
  background: -moz-linear-gradient(left, rgb(0, 128, 11), rgb(255, 255, 255));
  color: white;
}
#lanata {
  width: 65px;
  height: 50px;
}
#mirtha {
  width: 65px;
  height: 50px;
}
#gino {
  width: 65px;
  height: 50px;
}
#rata {
  width: 65px;
  height: 50px;
}

.card-group {
  margin-top: 25px;
  margin-bottom: 25px;
}
/*ANIMACION CARD TITLE*/
/*.card-title{
    text-decoration:none;
    font-family:'Gotham-bold'

}*/
/*.card-title:hover{
    color: green;
}*/

/*.card-title{
    transition: color 0.5s ease 0.2s;
}*/
.cuadro {
  margin: 10px;
  box-shadow: #999 5px 5px 5px;
}
/*.img-tag{
    text-align: center;
    background-color: rgb(0, 116, 0);
    color: white;
}*/
/*.card-title{
    text-transform:uppercase;
}*/
.cuadro-b {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-img-top {
  padding-top: 10px;
  border-radius: 15px;
  height: 150px;
}
#relatives {
  text-align: center;
  margin-top: 20px;
}



/*CARD GROUP!
  */
#card-header {
  text-align: center;
  margin-top: 25px;
}
.tarjeta {
  margin: 10px;
  box-shadow: #999 5px 5px 5px;
}
.card-img-top {
  padding: 10px;
}
.card-body {
  text-align: center;
}
.cardlink {
  color: black;
  transition: color 0.7s ease 0.2s;
}
.cardlink:hover {
  color: #46f9a5;
}
.card-img-overlay {
  transition: background-color 0.7s ease 0.2s;
}
.card-img-overlay:hover {
  background-color: rgba(24, 139, 43, 0.3);
}

.overtext {
  color: white;
  font-family: "gotham-rounded-bold";
  text-shadow: #000 2px 2px 2px;
  position: absolute;
  bottom: 180px;
  left: 35px;
  transition: color 0.7s ease 0.2s;
}
.overtext:hover {
  color: #46f9a5;
}
